* {padding: 0; margin: 0}

html {background-color:#DDD; padding-top: 10px ; color:#black }

th {padding: 2px; font-size: 14px  ; color:#DDD ; background-color:#555555 ; font-weight: bold ; font-family: verdana;    }

h1{ color:#444}

td {padding: 2px; font-size: 11px  ; color:#444444 ;font-weight: bold ; font-family: verdana;}



#textarea {vertical-align: top  ; padding-top: 8px}
	
input , select {background-color:#FFF; padding: 4px; width: 250px; font-size: 15px; font-weight: bold; margin: 3px; color:#555555 ; text-align: center; border-radius: 79px ;
-moz-border-radius: 79px ;
-webkit-border-radius: 79px ;
border: 1px solid #AAAAAA; text-align: left;}

textarea {background-color:#FFFFFF; color:#444444 ; width: 250px ; margin: 2px;  height: 60px ;padding: 2px; font-size: 13px  ; font-weight: bold ; font-family: verdana; 
	border-radius: 10px ;
-moz-border-radius: 10px ;
-webkit-border-radius: 10px ;
border: 1px solid #AAAAAA;}

#submit {background: #f85032;
background: -moz-linear-gradient(top, #f85032 0%, #f85032 46%, #e73827 69%, #e73827 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, #f85032), color-stop(46%, #f85032), color-stop(69%, #e73827), color-stop(100%, #e73827));
background: -webkit-linear-gradient(top, #f85032 0%, #f85032 46%, #e73827 69%, #e73827 100%);
background: -o-linear-gradient(top, #f85032 0%, #f85032 46%, #e73827 69%, #e73827 100%);
background: -ms-linear-gradient(top, #f85032 0%, #f85032 46%, #e73827 69%, #e73827 100%);
background: linear-gradient(to bottom, #f85032 0%, #f85032 46%, #e73827 69%, #e73827 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827', GradientType=0 );}

#submit {border: 1px solid #FF3333; text-align: center; width:150px;}

#submit:hover {background: #FF1111; color:#FFF ; }

#Exportar_a_Excel {text-align: center}

#reloj, #date1 , #date2 {width:150px;  text-align: center}